name: Docker & EKS Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password | docker login --username AWS --password-stdin 852994641284.dkr.ecr.ap-southeast-1.amazonaws.com

      - name: Build Docker Image
        run: |
          docker build -t resume-html .

      - name: Tag & Push Docker Image
        run: |
          docker tag resume-html:latest 852994641284.dkr.ecr.ap-southeast-1.amazonaws.com/resume:latest
          docker push 852994641284.dkr.ecr.ap-southeast-1.amazonaws.com/resume:latest

      - name: Update Kubernetes Deployment
        run: |
          kubectl set image deployment/resume-deployment resume=852994641284.dkr.ecr.ap-southeast-1.amazonaws.com/resume:latest

